/* Imports */

@import '../../../Root.less';

/* Variables */

@padding: 7.5px;

/* Style definition */

.VisualizationParameterEditor
{
	.fields
	{
		width: 100%;
		border-collapse: collapse;
		padding: 0px;
		margin: 0px;

		.fieldLine
		{
			&:not(:last-child)
			{
				border-bottom: 2px solid @blackSemiTransparentMegaLight;
			}

			.fieldLabel
			{
				min-width: 130px;
				padding: @padding;
				text-align: left;
			}

			.fieldEditor
			{
				padding: @padding;
				text-align: right;

				.smallInput
				{
					width: 50px;
				}
			}
		}
	}
}